@model IEnumerable< CategoryForImport >
@{
    ViewBag.Title = "Список категорий";
}
<h1>@ViewBag.Title</h1>
@Html.ActionLink("Добавить", "Create", new { @CategoryId = ViewBag.CategoryId }, new { @class = "btn btn-primary" })

<table class="table table-hover">
    <thead>
        <tr>
            <td>Название</td>
            <td>Идентификатор</td>
            <td>Вес</td>
            <td>Операции</td>
        </tr>
    </thead>
    <tbody>
        @foreach (CategoryForImport category in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => category.Title)</td>
                <td>@Html.DisplayFor(modelItem => category.ExtId)</td>
                <td>@Html.DisplayFor(modelItem => category.Weight)</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { @Id = category.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Удалить", "Delete", new { @Id = category.Id }, new { @class = "btn btn-warning btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
