@model BrandForImport

@{
    ViewBag.Title = "Удаление марки";
}
<h1>@ViewBag.Title</h1>
<h3>Действительно удалить представленную ниже марку?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Brand", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            @Html.ActionLink("К списку", "Index")
        </div>
    }
</div>
